@media (orientation: portrait) {
  .landscape-container {
    transform: rotate(90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .landscape-content {
    transform: rotate(-90deg);
    transform-origin: center center;
  }
} 

/* Prevent scrolling and remove white spaces */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

/* For IE/Edge */
* {
  -ms-overflow-style: none;
} 